*{
    primary : rgba(231, 231, 231, 0.2);
    secondary : rgba(231, 231, 231, 0.45);
    text_color : white;
    hover_text : #B2B2B2;
}
.root{
    -fx-background-image: url("../../../Resources/bg/background6.jpg");
    -fx-background-size: 770 430;
}
#toolbar{
    -fx-background-color: secondary;
}
.macindos_glass_pane{
    -fx-background-color: primary;
}
.round1{
    -fx-background-radius: 0 50 0 50;
}
.home_hover_effect:hover{
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
.home_hover_effect:pressed{
    -fx-scale-y: 1;
    -fx-scale-x: 1;
}
.round2{
    -fx-background-radius: 50 0 50 0;
}
#home_logo:hover{
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
    -fx-rotate: 2deg;
}
.menu{
    -fx-background-color: primary;
}
.menu .button{
    -fx-border-color: white;
    -fx-background-color: #e7e7e7;
}
.menu .button:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.menu .button:pressed{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-border-color: white;
    -fx-background-color: #e7e7e7;
}
#working_progress{
    -fx-progress-color: secondary;
}
#working_progress .tick{
    -fx-background-color: rgba(255, 0, 0, 0.5);
}
#working_progress .indicator{
    -fx-background-color: transparent;
}
#working_progress .percentage{
    -fx-fill: white;
    -fx-font-size: 20;
}
